{% extends 'repository/header.html' %}

{% block body %}
    <div class="container">
    <br>

            <div class="centerDiv">
                <img src="{{  ride.ride_image.url }}" class="frameInd"/>
            </div>
        <br>
        <br>
            <div class="centerDiv" >
                <h1 class="rideNameDetail"><b>{{ ride.ride_name }}</b></h1>

                <h3 class="rideInfoDetail">{{ ride.ride_desc }}</h3>
                <br>
                <h4 class="rideDetail">Height Limit: {{ ride.height_limit }}</h4>
                <h4 class="rideDetail">Location: {{ ride.ride_location }}</h4>
                <h4 class="rideDetail">Average Wait Time: {{ ride.ride_wait }}</h4>
                {% if request.user.is_superuser %}
                    <a href="{% url 'repository:delete_ride' ride.id %}" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
        <div>
        <br>
        <br>
        <br>
        {% if user.is_authenticated %}
        <a href="{% url 'repository:create_review' ride.id %}" class="btn btn-info" style="float: right">Add Review</a>
        {% endif %}
            <h3>Reviews</h3>
        {% if avgRate == 1 %}
           <h5 class="avgRate">Average Rating: {{ avgRate }} star</h5>
        {% elif avgRate == 0 %}
            <h5 class="avgRate">Average Rating: No Reviews</h5>
        {% else %}
            <h5 class="avgRate">Average Rating: {{ avgRate }} stars</h5>
        {% endif %}
            <div class="reviewStartDiv">
                {%  for review in reviews %}
                    <div class="reviewLine">
                    {% if request.user.is_superuser %}
                        <a href="{% url 'repository:delete_review' review.id %}" class="btn btn-danger btn-sm" style="float: right">Delete Review</a>
                    {% endif %}
                        <h5><b>{{ review.reviewer_username }}</b></h5>
                        <h5>{{ review.review }}</h5>
                    {% if review.rating == 1 %}
                        <h6>Rating: {{ review.rating }} star</h6>
                    {% else %}
                         <h6>Rating: {{ review.rating }} stars</h6>
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}