{% extends 'repository/header.html' %}
{% load static %}

{% block body %}
    <div class="container">
        <div class ="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-header bg-info text-white">
                    <div class="card-title">
                        Edit Item
                    </div>
                </div>
                <div class="card-body">
                    <form id="rideForm" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                            {{ field.name }}
                            <br>
                            {{ field }}
                            </div>
                        {% endfor %}

                        <button type="submit" class="btn-info">Save</button>
                    </form>
                <br>
                    {% if form.errors %}
                        <div>
                        {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            {% if error == "A ride with this name already exits" %}
                                <p class="errorMessage">A ride with this name already exits, please enter new ride name</p>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            </div>
        </div>

    </div>

{#    <script>#}
{#        document.getElementById("rideForm").addEventListener("submit", function (){#}
{#            document.getElementById("errors").style.display = "block";#}
{#        });#}
{#    </script>#}
{% endblock %}